@font-face {
  font-family: russo;
  src: url(../RussoOne-Regular.ttf);
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.home {
  text-align: center;
  background-image: url(../public/energyEfficient.jpg);
  background-size: cover;
  position: relative;

  background-repeat: no-repeat;
  background-attachment: fixed;

  height: 70vh;
  width: 100vw;

  position: relative;
}

.elevate {
  font-family: russo;
  color: rgb(254, 254, 254);
  font-size: xx-large;
  background-color: rgba(0, 0, 0, 0.541);
  width: 60vw;
  height: auto;
  justify-content: center;
  position: relative;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .logo {
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: 2%;
  margin-right: 30%;
  justify-content: center;
  position: relative;

  transform: translate(-50%, -50%);
} */
.image {
  background-color: rgba(255, 255, 255, 0.9);
  width: 400px;
  height: 200px;
  justify-content: center;
  position: relative;

  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome {
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-top: 5%;
  padding-inline: 15rem;
}
.door3 {
  max-width: 800px; /* Set your desired maximum width here */
  margin: 0 auto; /* Center the container horizontally */
}

.motto {
  font-weight: 100;
  font-size: 30px;
}
.whyChoose {
  margin-top: 40px;
  background-color: rgba(3, 100, 109, 1);
  color: #fff;
  padding: 15px;
  padding-block: 50px;
}
.explore {
  padding-block: 20px;
}
.Contact {
  margin-top: 40px;
  background-color: rgba(3, 100, 109, 1);
  color: #fff;
  padding: 15px;
  padding-block: 50px;
}

@media (max-width: 1300px) {
  .welcome {
    padding-inline: 100px;
  }
}

@media (max-width: 1150px) {
  .welcome {
    padding-inline: 80px;
  }
}

@media (max-width: 1024px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .home {
    background-image: url(../public/energyEfficient.jpg);

    position: relative;

    background-repeat: no-repeat;
    background-attachment: fixed;

    height: 55vh;
    width: 100vw;

    position: relative;
  }
  .index {
    font-size: large;
  }
  .explore {
    font-size: x-large;
  }

  .elevate {
    font-size: x-large;
  }
}

@media (max-width: 992px) {
  .welcome {
    padding: 15px;
  }
}
@media (max-width: 776px) {
  .image {
    width: 250px;
    height: 125px;
  }
}

@media (max-height: 776px) {
  .image {
    width: 250px;
    height: 125px;
  }
  .elevate {
    font-size: medium;
  }
}

@media (max-height: 600px) {
  .image {
    width: 200px;
    height: 100px;
  }
  .elevate {
    font-size: medium;
  }
}

@media (max-width: 334px) {
  .welcome {
    padding-inline: 0;
  }
  .elevate {
    font-size: medium;
  }
}
